@import "styles";

@import "Components/Category";
@import "Components/ConfirmDialog";
@import "Components/FrequencyList";
@import "Components/PageMenu";
@import "Components/NavBox";
@import "Components/RunwaySelector";
@import "Components/ScrollableContainer";
@import "Components/SoftKeys";

@import "Inputs/Button";
@import "Inputs/DropDownSelect";
@import "Inputs/Icao";
@import "Inputs/Numeric";
@import "Inputs/String";
@import "Inputs/Switch";
@import "Inputs/Time";
@import "Inputs/Waypoint";

@import "MFD/Components/Article";
@import "MFD/Components/PageSelector";
@import "MFD/Pages/AirwaySelector";
@import "MFD/Pages/Changelog";
@import "MFD/Pages/DirectTo";
@import "MFD/Pages/DuplicateWaypoints";
@import "MFD/Pages/FlightPlan";
@import "MFD/Pages/MapSetup";
@import "MFD/Pages/Nearest/NearestWaypointList";
@import "MFD/Pages/Nearest/NearestPage";
@import "MFD/Pages/Nearest/Airports";
@import "MFD/Pages/Nearest/NDBs";
@import "MFD/Pages/Nearest/VORs";
@import "MFD/Pages/Procedure";
@import "MFD/Pages/ProceduresMenu";
@import "MFD/Pages/Settings";
@import "MFD/Pages/TripPlanning";
@import "MFD/Pages/Utility";
@import "MFD/Pages/WaypointInformation/WaypointInformation";
@import "MFD/Pages/WaypointInformation/Airport";
@import "MFD/Pages/WaypointInformation/Intersection";
@import "MFD/Pages/WaypointSelector";
@import "MFD/Pages/Weather";

@import "Shared/DebugConsole";

as1000-mfd-element {
    font-family: $font_family_normal;
}

html {
}

as1000-mfd-element {
    //display:none !important;
}

g1000-page-menu {
    position: absolute;
    right: 2vh;
    top: 2vh;
    width: 35vh;
}

as1000-mfd-element #Mainframe #Electricity {
    height: 100%;
    width: 100%;
    display: grid;
    overflow: hidden;
    grid-template-columns: 16.66666% minmax(0, 1fr);
    grid-template-rows: 8% minmax(0, 1fr) 4%;
    grid-template-areas:
        "nav nav"
        "engine main"
        "softkeys softkeys";
    //font-size: calc(2 * 1vh * var(--bodyHeightScale));
    background: $page_background_color_2;
    font-size: 1rem !important;

    #MapSVG,
    #road-network-canvas {
        //@extend %render-layer;
    }
    #WindData {
        position: absolute;
        top: 0%;
        width: 7%;
        right: 10%;
    }
    #Map bing-map {
        //@extend %render-layer;
    }
    #MapInstrument {
        //display: none !important;
        overflow: hidden;
        @extend %render-layer;
    }

    g1000-soft-key-menu {
        grid-area: softkeys;
    }

    #RightInfos {
        //@extend %render-layer;
        grid-area: main;
        position: relative;
    }

    .page-container,
    .pane-container,
    .dialog-container,
    .page-selector,
    .page-menu-container {
        grid-area: main;
    }

    #LeftInfos {
        //display: none !important;
        background: $page_background_color;
        grid-area: engine;
        border-right: $border_width_thick solid $border_color;
        position: relative;

        #ED {
            width: 100%;
            height: 100%;
            position: relative;
            display: block;
        }

        &[state="piston"] {
            #TurboEngine,
            #XMLEngineDisplay {
                display: none;
            }
        }
        &[state="turbo"] {
            width: 35%;
            #PistonEngine,
            #XMLEngineDisplay {
                display: none;
            }
        }
        &[state="XML"] {
            #TurboEngine,
            #PistonEngine {
                display: none;
            }
        }
    }

    glasscockpit-xmlcirculargauge,
    glasscockpit-xmlcolumngauge,
    glasscockpit-xmlhorizontalgauge,
    glasscockpit-xmlhorizontaldoublegauge {
        @extend %render-layer;
        overflow: hidden !important;
    }
}

as1000-mfd-element {
    &[engine="turbo"] {
        #Mainframe #Electricity {
            grid-template-columns: 35% 65%;
        }
    }
}

.page-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.pane-container {
    position: absolute;
    width: 35%;
    right: 1vh;
    top: 1vh;
    bottom: 1vh;

    @extend %floating-pane;

    &:empty {
        display: none;
    }

    > * {
        &:not(:last-child) {
            display: none;
        }
    }
}

.dialog-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.page-menu-container {
    position: relative;
}

g1000-map-page {
    display: block;
    width: 100%;
    height: 100%;
}

g1000-external-link {
    color: $input_color;
    @extend %animated-selection;
}
