@import "styles";

@import "Components/Annunciations";
@import "Components/Category";
@import "Components/ConfirmDialog";
@import "Components/NavBox";
@import "Components/ScrollableContainer";
@import "Components/SoftKeys";

@import "Inputs/Button";
@import "Inputs/DropDownSelect";
@import "Inputs/Numeric";
@import "Inputs/String";
@import "Inputs/Switch";
@import "Inputs/Time";

@import "PFD/Pages/Nearest";
@import "PFD/Pages/TimerReferences";

as1000-pfd-element #Mainframe #HorizonContainer {
    -webkit-transform: rotateX(0deg);
}

as1000-pfd-element #Mainframe #InstrumentsContainer #Altimeter {
    -webkit-transform: rotateX(0deg);
}

glasscockpit-altimeter {
    -webkit-transform: rotateX(0deg);
}

as1000-pfd-element #Mainframe #InstrumentsContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 88% 1fr;
    grid-template-areas:
        "nav"
        "main"
        "softkeys";

    > .center {
        grid-area: main;
        position: relative;
        width: 100%;
        height: 100%;

        > footer {
            font-family: $font_family_mono;
            font-weight: normal;
            font-size: 1rem;
            position: absolute;
            display: grid;
            width: 100%;
            align-items: end;
            bottom: 0;
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "oat blank xpdr lcl";
        }
    }

    g1000-soft-key-menu {
        grid-area: softkeys;
    }

    g1000-nav-box {
        grid-area: nav;
    }
}

glasscockpit-hsi {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "main";

    .compass-background-circle,
    .compass-overlay {
    }

    .compass-background,
    .compass-background-circle,
    .compass-overlay,
    .compass-static-overlay {
        grid-area: main;
        -webkit-transform: rotateX(0deg);

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

as1000-pfd-element #Mainframe #InstrumentsContainer #Compass,
as1000-pfd-element #Mainframe #InstrumentsContainer #ArcCompass {
    transform: rotateX(0);
    position: absolute;
    border: none;
    $middle: 46.6%;
    $width: 50%;
    left: $middle - $width/2;
    bottom: 0%;
    width: $width;
    height: 50%;
    z-index: 0;
}

g1000-nav-box {
    > .center {
        .ap-status {
            align-items: center;
            font-size: $font_size_extra_large;
            display: grid;
            grid-gap: 2vh;
            grid-template-columns: 25% $border_width_thin 15% $border_width_thin 1fr;
            font-weight: bold;

            .active {
                color: #00ff00;
            }

            .armed {
            }
        }

        .nav-status {
            border-bottom: $border_width_thin solid $border_color;
            align-items: center;
            font-size: $font_size_extra_large;
            display: grid;
            grid-gap: 2vh;
            grid-template-columns: 40% $border_width_thin 60%;
        }
    }

    .nav-left {
        padding: 0 2vh;
        display: grid;
        width: 100%;
        grid-gap: 2vh;
        grid-template-columns: 40% 1fr 40%;
        color: $color_gps;
        font-weight: bold;

        .leg-symbol {
            text-align: center;
        }

        .leg-to {
            text-align: right;
        }

        .leg-from {
            text-align: left;
        }
    }

    .nav-right {
        align-items: baseline;
        display: flex;

        div {
            width: auto;
            margin: 0 1vh;
            flex: none;
            font-size: $font_size_large;
            line-height: 0.7;

            &.value {
                font-weight: bold;
                color: $color_gps;
                flex: 1;
                font-size: $font_size_extra_large;
            }
        }
    }

    .ap-left {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .ap-divider,
    .nav-divider {
        background: $border_color;
        height: 100%;
        display: block;
    }

    .ap-right {
        display: grid;
        grid-template-columns: 15% 10% 40% 30%;
    }

    .ap-status {
        .active {
            display: inline-block;
            @keyframes ap-status-disable-animation {
                0% {
                    background: yellow;
                    color: #000;
                }
                45% {
                    background: yellow;
                    color: #000;
                }
                50% {
                    background: transparent;
                    color: yellow;
                }
                95% {
                    background: transparent;
                    color: yellow;
                }
                100% {
                    background: yellow;
                    color: #000;
                }
            }
            &[status="disabling"] {
                animation: ap-status-disable-animation infinite 1s !important;
                animation-timing-function: cubic-bezier(1, 0, 0, 0.99);
            }
            &[status="disabled"] {
                visibility: hidden;
            }
        }
    }
}

g1000-transponder {
    grid-area: xpdr;
    padding: 1vh;
    display: grid;
    grid-template-columns: auto 4ch 4ch 1ch;
    grid-gap: 1vh;
    align-items: center;
    background-color: $page_background_color;
    border-top: $border_width_thin solid $border_color;
    border-left: $border_width_thin solid $border_color;

    label {
        font-weight: bold;
    }

    .mode {
        text-align: right;
    }

    &[enabled] {
        .mode,
        .code {
            color: $color_ap_active;
        }
    }

    .reply {
        visibility: hidden;
        font-size: 0.8em;
        font-weight: bold;
    }
    &[interrogated][enabled] {
        .reply {
            visibility: visible;
        }
    }
}

g1000-local-time {
    grid-area: lcl;
    padding: 1vh;
    background-color: $page_background_color;
    border-top: $border_width_thin solid $border_color;
    border-left: $border_width_thin solid $border_color;
    display: grid;
    grid-template-columns: 3ch 10ch;
    grid-gap: 1vh;

    label {
        font-weight: bold;
    }

    .time {
        text-align: right;
    }

    .meridiem {
        font-size: 0.8em;
    }
}

g1000-oat {
    grid-area: oat;
    padding: 1vh;
    display: grid;
    grid-template-columns: 3ch auto;
    grid-gap: 1vh;
    background-color: $page_background_color;
    border-top: $border_width_thin solid $border_color;
    border-right: $border_width_thin solid $border_color;

    label {
        font-weight: bold;
    }

    .temperature {
        text-align: right;
    }

    .units {
        font-size: 0.8em;
    }
}

wt-mini-page-container {
    position: absolute;
    bottom: 6vh;
    right: 1vh;
    width: 38vh;
    height: 27vh;
    font-size: 1.05rem;
    font-family: $font_family_normal;
}

.mini-page {
    background-color: #000;
    height: 100%;
    border: $border_width_thick solid $border_color;
    padding: 0 1vh;

    &:not([visible]) {
        display: none;
    }

    hr {
        margin: 1vh 0;
        height: $border_width_thin;
        background: $border_color;
    }

    h1 {
        border-bottom: $border_width_thin solid #fff;
        color: $input_color;
        text-align: center;
        font-size: 1em;
        padding-bottom: 0.5vh;
        margin: 1vh 0;
    }
}
