@import "styles";

$mini_page_x: 1vh;
$mini_page_y: 6vh;
$mini_page_width: 38vh;
$mini_page_height: 27vh;

@import "Components/Annunciations";
@import "Components/Category";
@import "Components/ConfirmDialog";
@import "Components/NavBox";
@import "Components/ScrollableContainer";
@import "Components/SoftKeys";
@import "Components/PageMenu";

@import "Inputs/Button";
@import "Inputs/DropDownSelect";
@import "Inputs/Icao";
@import "Inputs/Numeric";
@import "Inputs/String";
@import "Inputs/Switch";
@import "Inputs/Time";

@import "PFD/Components/Airspeed";
@import "PFD/Components/Altimeter";
@import "PFD/Components/Horizon";
@import "PFD/Components/HSI";
@import "PFD/Components/LocalTime";
@import "PFD/Components/MarkerBeacon";
@import "PFD/Components/Minimums";
@import "PFD/Components/NavBox";
@import "PFD/Components/OAT";
@import "PFD/Components/PageMenu";
@import "PFD/Components/RadioAltimeter";
@import "PFD/Components/Transponder";
@import "PFD/Components/Warnings";
@import "PFD/Components/Wind";

@import "PFD/Pages/AdfDme";
@import "PFD/Pages/DirectTo";
@import "PFD/Pages/DuplicateWaypoints";
@import "PFD/Pages/FlightPlan";
@import "PFD/Pages/Nearest";
@import "PFD/Pages/Procedures";
@import "PFD/Pages/ProceduresMenu";
@import "PFD/Pages/SetupMenu";
@import "PFD/Pages/TimerReferences";
@import "PFD/Pages/WaypointSelector";
@import "PFD/HSIndicator";

body:after {
    display: none !important;
}

glasscockpit-altimeter {
    @extend %render-layer;
}

as1000-pfd-element {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "main";

    font-size: 1rem !important;
    font-family: $font_family_normal;
}

.dialog-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.instruments-container {
    @extend %render-layer;
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 88% 1fr;
    grid-template-areas:
        "nav"
        "main"
        "softkeys";

    > .center {
        grid-area: main;
        position: relative;
        width: 100%;
        height: 100%;

        > footer {
            font-weight: normal;
            font-size: 1rem;
            position: absolute;
            display: grid;
            width: 100%;
            align-items: end;
            bottom: 0;
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "oat blank xpdr lcl";
        }
    }

    g1000-soft-key-menu {
        grid-area: softkeys;
    }

    g1000-nav-box {
        grid-area: nav;
    }
}

#InnerMap {
    @extend %render-layer;
    position: absolute;
    left: 1vh;
    bottom: 8vh;
    width: 29vh;
    height: 30vh;
    top: auto;
    background-color: black;
    border: 0.4vh solid white;
}
#InnerMap #MapOrientation,
#InnerMap #MapRange {
    width: 7vh;
    height: 2vh;
}
#InnerMap #MapCursor {
    height: 9%;
}

#EngineDisplay {
    @extend %render-layer;
    position: absolute;
    left: 0%;
    top: 7.5%;
    width: 15%;
    height: 92.5%;
    background-color: #1a1d21;
    display: none;
}

g1000-pfd-wind {
    @extend %render-layer;
    position: absolute;
    top: 57%;
    left: 26%;
    height: 6vh;
    width: 9vh;
}

g1000-pfd-mini-page-container {
    @extend %render-layer;
    position: absolute;
    right: $mini_page_x;
    bottom: $mini_page_y;
    width: $mini_page_width;
    height: $mini_page_height;
    font-size: 1.05rem;
    font-family: $font_family_normal;
    display: grid;
    grid-template-areas: "main";
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.mini-page {
    grid-area: main;
    background-color: #000;
    height: 100%;
    border: $border_width_thick solid $border_color;
    padding: 0 1vh;

    &:not([visible]) {
        display: none;
    }

    hr {
        margin: 1vh 0;
        height: $border_width_thin;
        background: $border_color;
    }

    h1 {
        border-bottom: $border_width_thin solid #fff;
        color: $input_color;
        text-align: center;
        font-size: 1em;
        padding-bottom: 0.5vh;
        margin: 1vh 0;
    }
}

g1000-waypoint-input {
    grid-template-columns: auto 2.5vh 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "icao icon city"
        "name name name";

    .country {
        display: none;
    }
}
