$theme: "1000";

$page_background_color: #111;
$page_background_color_2: rgb(12, 12, 12);

$border_width_thick: 0.3vh;
$border_width_thin: 0.2vh;
$border_color: #e8e8e8;

$color_gps: #ff00ff;
$color_ap_active: #00ff00;
$color_green: #00ff00;

$category_box_outline_color: #999;
$category_box_background_color: #000;
$category_border_width: $border_width_thin;
$category_text_color: #fff;

$popup_background_color: $category_box_background_color;

$input_color: #00ffff;

$font_size_small: 0.8rem;
$font_size_regular: 1rem;
$font_size_large: 1.2rem;
$font_size_extra_large: 1.4rem;

$font_family_normal: "Roboto-Regular";
$font_family_mono: "Roboto-Mono";

html {
    background-color: #000;
    font-size: calc(2 * 1vh); // * var(--bodyHeightScale));
    font-family: $font_family_normal;

    --engine-green: #00cc00;
    --engine-red: #f84444;
    --engine-yellow: #ffff00;

    --color-gps: #{$color_gps};
    --color-gps-outline: #{darken($color_gps, 20%)};

    --color-ap: #{$color_ap_active};
    --color-ap-outline: #{darken($color_ap_active, 20%)};
}

ul {
    list-style: none;
}

@keyframes SelectionBlink {
    0% {
        background: $input_color;
        color: #000;
    }
    25% {
        background: $input_color;
        color: #000;
    }
    50% {
        background: none;
        color: $input_color;
    }
    75% {
        background: none;
        color: $input_color;
    }
    100% {
        background: $input_color;
        color: #000;
    }
}

%animated-selection {
    &[state="Selected"] {
        animation: SelectionBlink 0.5s infinite !important;
    }
}

%floating-pane {
    background: lighten($page_background_color, 10%);
    border: 1vh outset #111;
    box-shadow: 0px 0px 0px $border_width_thick $border_color;

    .title {
        margin: 1vh 0;
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    footer {
        text-align: center;
        font-size: 1.1em;
        margin: 2vh 0;
    }
}

%render-layer {
    -webkit-transform: rotateX(0deg);
}

@if ($theme == "nxi") {
    $page_background_color: #0c1015;

    $border_color: lighten($page_background_color, 50%);

    $category_box_outline_color: lighten($page_background_color, 10%);
    $category_border_width: $border_width_thin;
    $category_box_background_color: #040608;
    $category_text_color: #9ba9be;

    @font-face {
        font-family: "Roboto-Mono";
        src: url("/Fonts/RobotoMono-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "Roboto-Mono";
        src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: "Roboto-Regular";
        src: url("/Fonts/Roboto-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "Roboto-Regular";
        src: url("/Fonts/Roboto-Bold.ttf") format("truetype");
        font-weight: bold;
        font-style: normal;
    }
    $font_family_normal: "Roboto-Regular";
} @else {
    @font-face {
        font-family: "Roboto-Mono";
        src: url("/Fonts/RobotoMono-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "Roboto-Mono";
        src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: "Roboto-Regular";
        src: url("/Fonts/Roboto-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "Roboto-Regular";
        src: url("/Fonts/Roboto-Bold.ttf") format("truetype");
        font-weight: bold;
        font-style: normal;
    }
}

wt-debug-console {
    display: none;
    position: absolute;
    bottom: 6vh;
    left: 2vh;
    right: 2vh;
    height: 40vh;
    font-size: 0.8rem;
    font-weight: normal;
    font-family: $font_family_mono;
    color: #fff;
    z-index: 10000;

    /*background: rgba(lighten($page_background_color, 10%), 0.8);
    border: 1vh outset rgba(#111, 0.8);
    box-shadow: 0px 0px 0px $border_width_thick rgba($border_color, 0.8);*/
    background: rgba(#000, 0.8);
    border: 0.2vh solid #fff;

    .console {
        list-style: none;
        height: 100%;
        overflow-y: scroll;
        padding: 1vh;

        &::-webkit-scrollbar {
            width: 0.5vh;
            display: block;
        }

        &::-webkit-scrollbar-track {
            display: block;
        }

        &::-webkit-scrollbar-thumb {
            display: block;
            border-radius: 0;
            background: #fff;
        }

        wt-debug-console-message {
            display: block;
            margin: 0.5vh 0;
            white-space: pre-wrap;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1vh;

            span:first-child {
                font-weight: bold;
            }

            span:last-child {
                word-break: break-all;
            }
        }

        .error {
            color: red;
        }

        .warning {
            color: yellow;
        }
    }

    &[state="enabled"] {
        display: block;
    }
}

airport-icon {
    display: inline-block;
}

g1000-waypoint-input {
    display: grid;
    grid-template-columns: auto 2.5vh 1fr;
    grid-gap: 0 1vh;
    align-items: center;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "icao icon country"
        "name name name"
        "city city city";
    font-family: $font_family_mono;
    color: $input_color;

    icao-input {
        grid-area: icao;
    }

    .name {
        grid-area: name;
    }

    .country {
        grid-area: country;
    }

    .icon {
        grid-area: icon;
        height:2.5vh;
    }

    .city {
        grid-area: city;
    }

    airport-icon {
        display: none;
    }

    &[waypoint-type="A"] {
        airport-icon {
            display: block;
        }
    }
}
