wt-nearest {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(0, 1fr);
    line-height: 1;

    [state="Selected"] {
        animation: SelectionBlink 0.5s infinite !important;
    }

    ul {
        overflow: scroll;
        height: 100%;
    }

    li {
        display: grid;
        grid-template-columns: 5ch 5ch repeat(3, minmax(0, 1fr));
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "ident icon bearing distance approach"
            "com-name com-name frequency runway runway-length";
        grid-gap: 1vh;
        margin: 1vh 0;
        padding-bottom: 1vh;
        border-bottom: $border_width_thin solid #666;
        font-size: 1rem;

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
            border: none;
        }
    }

    .ident {
        font-family: $font_family_mono;
        grid-area: ident;
        color: $input_color;
    }
    airport-icon {
        grid-area: icon;
        height: 2.5ch;
        text-align: center;
    }
    .bearing {
        grid-area: bearing;
        color: $input_color;
    }
    .distance {
        grid-area: distance;
        color: $input_color;
    }
    .approach {
        grid-area: approach;
        color: $input_color;
        text-align: right;
    }
    .com-name {
        grid-area: com-name;
        text-transform: uppercase;
    }
    .frequency {
        grid-area: frequency;
        color: $input_color;
    }
    .runway {
        grid-area: runway;
    }
    .runway-length {
        grid-area: runway-length;
        color: $input_color;
        text-align: right;
    }
    .units {
        font-size: 0.8em;
    }
}
