**/_PackageInt
**/Packages
**/build
ref
.idea/codeStyles/codeStyleConfig.xml
.idea/fspackages.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
CJ4 Build.ps1

src/sound/.cache
*.akd
*.prof
*.wsetting
*.validationcache
*.wem
*.wsettings
src/sound/GeneratedSoundBanks
src/sound/FlightSim.mediaid
