.article {
    font-size: 1em;
    line-height: 1.5em;

    h1 {
        font-size: 2em;
        line-height: 1.4em;
        margin-top: 1em;
        margin-bottom: 0.5em;

        &:first-child {
            margin-top: 0.2em;
        }
    }
    h2 {
        font-size: 1.2em;
        line-height: 1.4em;
        margin-top: 0.8em;
        margin-bottom: 0.5em;

        &:first-child {
            margin-top: 0.2em;
        }
    }
    p,
    ul {
        margin: 1em 0;
        font-size: 1em;
        line-height: 1.5em;
    }
    ul {
        margin-left: 1.5em;
        list-style: square;
    }
}