:root {
  --bodyHeightScale: 1; }

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible; } }

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden; } }

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; }

#Electricity {
  width: 100%;
  height: 100%; }
  #Electricity[state=off] {
    display: none; }

@font-face {
    font-family: "Roboto-Mono";
    src: url("/WTg3000/SDK/Assets/Fonts/RobotoMono-Medium-Mod.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Mono";
    src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("/WTg3000/SDK/Assets/Fonts/Roboto-Regular-Mod.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("/WTg3000/SDK/Assets/Fonts/Roboto-Bold-Mod.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

#Mainframe {
  --refWidth: 1024;
  --refHeight: 768; }

@keyframes FlashYellow {
  5%, 45% {
    color: yellow;
    background-color: #1a1d21; }
  55%, 95% {
    color: #1a1d21;
    background-color: yellow; } }
@keyframes FlashRed {
  0%, 45% {
    color: red;
    background-color: #1a1d21; }
  55%, 100% {
    color: white;
    background-color: red; } }

as3000-pfd-element {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: "Roboto-Mono";
  font-weight: bold;
  position: relative;
  overflow: hidden;
  z-index: -10; }
  as3000-pfd-element #Console {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 4vh;
    z-index: 1000; }
  as3000-pfd-element #Splash {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000; }
  as3000-pfd-element #Electricity {
    width: 100%;
    height: 100%; }
    as3000-pfd-element #Electricity[state=off] {
      display: none; }
    as3000-pfd-element #Electricity[state=init] {
      /*
            // Animation sequence which look alike the real instrument. Removing this for now
            #VSpeed,
            #Compass,
            #Airspeed,
            #Altimeter,
            #SoftKeys,
            #AutopilotInfos,
            #ComInfos,
            #BottomBar,
            #WindData {
                animation: TemporaryHide 6s 1;
            }

            #XPDRTimeBox,
            #AoA,
            #LeftGroup {
                animation: TemporaryHide 6.3s 1;
            }

            #HorizonContainer {
                animation: TemporaryHide 6.5s 1;
            }
            */ }
      as3000-pfd-element #Electricity[state=init] #Console {
        animation: TemporaryShow 3.5s 1; }
      as3000-pfd-element #Electricity[state=init] #Splash {
        animation: TemporaryShow 3.5s 1;
        animation-delay: 2.5s; }
      as3000-pfd-element #Electricity[state=init] #NavBox {
        animation: TemporaryHide 5.5s 1; }
  as3000-pfd-element .PopupWindow {
    visibility: hidden; }
    as3000-pfd-element .PopupWindow[state=Active] {
      visibility: inherit; }