.scrollable-container,
scrollable-container {
    &::-webkit-scrollbar {
        width: 0.5vh;
        display: block;
    }

    &::-webkit-scrollbar-track {
        display: block;
    }

    &::-webkit-scrollbar-thumb {
        display: block;
        border-radius: 0;
        background: #fff;
    }
}

scrollable-container {
    display: block;
    overflow-y: scroll;
}
