g1000-soft-key-menu {
    background-color: $page_background_color;
    display: grid;
    $w: percentage(1/12);
    grid-template-columns: $w $w $w $w $w $w $w $w $w $w $w $w;
    width: 100%;
    height: 100%;
    font-size: 1.0rem;
    font-family: "Roboto-Regular";
    font-weight: normal;

    g1000-soft-key {
        display: block;
        height: 100%;
        width: 100%;
        border-right: $border_width_thin solid darken($page_background_color, 30%);
        border-left: $border_width_thin solid lighten($page_background_color, 30%);
        border-top: $border_width_thick solid $border_color;
        text-align: center;
        line-height:1.8;

        &[selected], &[hover] {
            color: #1a1d21;
            background-color: #b0bacd;

            border-right-color: transparent;
            border-left-color: rgba(0, 0, 0, 0.6);
        }
    }
}
