/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
:root {
  --bodyHeightScale: 1;
}

@keyframes TemporaryShow {

  0%,
  100% {
    visibility: visible;
  }
}

@keyframes TemporaryHide {

  0%,
  100% {
    visibility: hidden;
  }
}

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#Mainframe {
  width: 100%;
  height: 100%;
  filter: brightness(1.1) contrast(1.6); /* TODO: play around more with these filters for that fuzzy display look */
}

#Electricity {
  width: 100%;
  height: 100%;
}

#Electricity[state=off] {
  display: none;
}

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("/Fonts/consola.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Collins ProLine";
  src: url("/Pages/VCockpit/Instruments/Airliners/CJ4/Shared/CollinsProLine-Condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*
@font-face {
    font-family: "Not Courier Sans";
    src: url("/Fonts/NotCourierSans.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}
*/
span:empty:before {
  content: " ";
}

cj4-fmc {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0e0d08;
  color: white;
  font-family: "Collins ProLine";
  font-size: 6vw;
  color: white;
}

.white {
  color: white;
}

.blue {
  color: #4580a7;
}

.yellow {
  color: #fff201;
}

.green {
  color: #00a54f;
}

.red {
  color: #ff886d;
}

.magenta {
  color: #ff00ff;
}

fmc-b747-8-main-display::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

#header {
  height: 11.5%;
  margin-top: 4%;
  margin-bottom: 1%;
  display: block;
  text-align: center;
}

#page-info {
  display: block;
  text-align: right;
  position: absolute;
  top: 4.25%;
  right: 6.0%;
  color: #4580a7;
}

.s-text {
  font-size: 5vw;
  /* letter-spacing: 0.7vw; */
}

.label {
  height: 1em;
  margin: 0;
}

.label-left {
  position: absolute;
  left: 6.35%;
  width: 100%;
  text-align: left;
}

.label-right {
  position: absolute;
  right: 5.5%;
  width: 100%;
  text-align: right;
}

.label-center {
  position: absolute;
  left: 0px;
  width: 100%;
  text-align: center;
}

.line {
  height: 1.15em;
  margin: 0;
}

.line-left {
  position: absolute;
  left: 2%;
  width: 100%;
  text-align: left;
  margin-top: 0.4%;
}

.line-right {
  position: absolute;
  right: 2%;
  width: 100%;
  text-align: right;
  margin-top: 0.4%;
}

.line-center {
  position: absolute;
  left: 0px;
  width: 100%;
  text-align: center;
}

#page-info.s-text {
  font-size: 6vw;
  letter-spacing: normal;
}