/* FOR PROTOTYPE Char grid */
#wt_container {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;
    /* quick fix for better visibility */
    /* margin-top: -5px; */
    z-index: 1000;
    background-color: #0e0d08;
}

#wt_container::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    z-index: 1;
}


.fmc-header {
    border: solid 0px red;
    vertical-align: middle;
    height: 0em;
    margin-top: 5%;
    margin-bottom: 12%;
    padding: 0;
    font-size: 6.5vw;
}

.fmc-row {
    border: solid 0px red;
    vertical-align: middle;
    height: 1.1em;
    margin: auto auto;
    padding: 0;
}

.ltrContainer {
    display: inline-block;
    border: solid 0px green;
    height: auto;
    margin: auto auto;
    vertical-align: middle;
}

.letter {
    border: solid 0px pink;
    text-align: center;
    margin: auto auto;
    vertical-align: middle;
    width: 40px;
    min-height: 22px;
    white-space: pre;
}

/* Text */

.d-text { /* default text size for templates */
    font-size: 6vw;
}

/* General */

.hidden {
    display: none;
}

.fitcontent {
    width: auto;
    height: auto;
}

.left {
    position: absolute;
    left: 1%;
    width: 100%;
    text-align: left;
}

.right {
    position: absolute;
    right: 1%;
    width: 100%;
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Scratch pad */

#in-out {
    padding-left: 6%;
    display: inline-block;
    margin-top: 0.4%;
}

.footer {
    margin-top: -0.5%;
    height: 7.0vw;
}

/* Message line */

#msg-line {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#exec-sign {
    font-size: 6.0vw;
}

.blackwhite {
    background-color: white;
    color: #0e0d08;
}