:root {
  --bodyHeightScale: 1; }

@keyframes TemporaryShow {
  0%, 100% {
    visibility: visible; } }

@keyframes TemporaryHide {
  0%, 100% {
    visibility: hidden; } }

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10; }

#Electricity {
  width: 100%;
  height: 100%; }
  #Electricity[state=off] {
    display: none; }

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Collins ProLine";
  src: url("/Pages/VCockpit/Instruments/Airliners/CJ4/Shared/CollinsProLine-LightCondensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

svg text {
  font-family: 'Collins ProLine';
}

cj4-mfd-element {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: 'Collins ProLine';
  position: relative;
  overflow: hidden;
  z-index: -10; }
  cj4-mfd-element #Electricity {
    width: 100%;
    height: 100%; }
    cj4-mfd-element #Electricity[state=off] {
      display: none; }
  cj4-mfd-element #Mainframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative; }
    cj4-mfd-element #Mainframe #Electricity {
      position: relative; }
      cj4-mfd-element #Mainframe #Electricity #MainDisplay {
        font-size: calc( 2 * 1vh * var(--bodyHeightScale));
        text-align: center; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 {
          left: 0%;
          top: 0%;
          width: 100%;
          height: 27%;
          position: absolute;
          background-color: black; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[minimized=on] {
            height: 22.5%; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 {
          left: 0%;
          top: 22.5%;
          width: 100%;
          height: 22.5%;
          position: absolute;
          background-color: black; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemEngines,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemEngines {
          top: 0%;
          position: relative;
          display: none; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemElectrics,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemElectrics {
          top: 0%;
          position: relative;
          display: none; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemFMS,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemFMS {
          top: 0%;
          position: relative;
          display: none; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemAnnunciations,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemAnnunciations {
          top: 5%;
          left: 4%;
          width: 95%;
          height: 95%;
          position: relative;
          display: none; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemAnnunciations div,
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemAnnunciations div {
            font-size: 1.8vh;
            text-align: left;
            margin-right: 15px;
            margin-bottom: 1px; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemAnnunciations .Warning, cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemAnnunciations .Warning_Blink,
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemAnnunciations .Warning,
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemAnnunciations .Warning_Blink {
            color: red; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemAnnunciations .Caution, cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemAnnunciations .Caution_Blink,
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemAnnunciations .Caution,
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemAnnunciations .Caution_Blink {
            color: yellow; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemAnnunciations[state=Blink] .Warning_Blink,
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemAnnunciations[state=Blink] .Warning_Blink {
            color: white;
            background-color: red; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemAnnunciations[state=Blink] .Caution_Blink,
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemAnnunciations[state=Blink] .Caution_Blink {
            color: black;
            background-color: yellow; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemWarnings,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemWarnings {
          position: relative;
          top: 5%;
          left: 37.5%;
          width: 25%;
          height: 18%;
          z-index: 1; }

@keyframes RedWarning {
  0%, 45% {
    background-color: red;
    color: white; }
  55%, 100% {
    background-color: white;
    color: red; } }

@keyframes YellowWarning {
  0%, 45% {
    background-color: yellow;
    color: black; }
  55%, 100% {
    background-color: black;
    color: yellow; } }

@keyframes WhiteWarning {
  0%, 45% {
    background-color: White;
    color: black; }
  55%, 100% {
    background-color: black;
    color: white; } }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemWarnings[state=Red],
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemWarnings[state=Red] {
            animation: RedWarning 1s 5;
            background-color: red;
            color: white; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemWarnings[state=Yellow],
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemWarnings[state=Yellow] {
            animation: YellowWarning 1s 5;
            background-color: black;
            color: yellow; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemWarnings[state=White],
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemWarnings[state=White] {
            animation: WhiteWarning 1s 5;
            background-color: white;
            color: black; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemWarnings[state=Hidden],
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemWarnings[state=Hidden] {
            display: none; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1 .SystemWarnings #Content,
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2 .SystemWarnings #Content {
            font-size: 2.5vh; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=engines] .SystemEngines,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=engines] .SystemEngines {
          display: block; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=engines] .SystemElectrics,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=engines] .SystemFMS,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=engines] .SystemAnnunciations,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=engines] .SystemElectrics,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=engines] .SystemFMS,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=engines] .SystemAnnunciations {
          display: none; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=electrics] .SystemElectrics,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=electrics] .SystemElectrics {
          display: block; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=electrics] .SystemEngines,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=electrics] .SystemFMS,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=electrics] .SystemAnnunciations,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=electrics] .SystemEngines,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=electrics] .SystemFMS,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=electrics] .SystemAnnunciations {
          display: none; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=fms] .SystemFMS,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=fms] .SystemFMS {
          display: block; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=fms] .SystemEngines,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=fms] .SystemElectrics,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=fms] .SystemAnnunciations,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=fms] .SystemEngines,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=fms] .SystemElectrics,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=fms] .SystemAnnunciations {
          display: none; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=annunciations] .SystemAnnunciations,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=annunciations] .SystemAnnunciations {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=annunciations] .SystemEngines,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=annunciations] .SystemElectrics,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[page=annunciations] .SystemFMS,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=annunciations] .SystemEngines,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=annunciations] .SystemElectrics,
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[page=annunciations] .SystemFMS {
          display: none; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos1[visible=false],
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemInfos2[visible=false] {
          display: none; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #Map {
          position: absolute;
          top: 23%;
          left: 0%;
          width: 100%;
          height: 100%;
          display: block;
          background-color: black;
          z-index: -2;
          /* Map position (left and top) is set in mapConfig.json file (see SvgMapConfig.ts) (makes it editable at runtime) */
          /* Map position (left and top) is set in mapConfig.json file (see SvgMapConfig.ts) (makes it editable at runtime) */ }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #Map #MapOrientation {
            position: absolute;
            top: 0%;
            right: 0%;
            width: 10%;
            height: calc( 3 * 1vh * var(--bodyHeightScale));
            background-color: #1a1d21;
            color: white; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #Map #WindData {
            position: absolute;
            top: 0%;
            width: 7%;
            right: 10%; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #Map #MapRange {
            position: absolute;
            bottom: 0%;
            right: 0%;
            width: 7%;
            height: calc( 3 * 1vh * var(--bodyHeightScale));
            background-color: #1a1d21;
            color: #36c8d2; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #Map #MapSVG, cj4-mfd-element #Mainframe #Electricity #MainDisplay #Map #road-network-canvas {
            transform: rotateX(0);
            position: absolute; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #Map bing-map {
            transform: rotateX(0);
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #Map[extended=on] {
            top: 13%; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay {
          position: absolute;
          top: 45%;
          left: 0;
          width: 100%;
          height: 55%;
          z-index: -1; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDCompass {
            transform: rotateX(0);
            position: absolute;
            border: none;
            left: 0%;
            top: 0%;
            width: 100%;
            height: 100%; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #ModeChangeMask {
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            display: none;
            position: absolute;
            background-color: black; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #LeftMask {
            position: absolute;
            background-color: black;
            top: -40%;
            left: 0%;
            width: 15%;
            height: 160%; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #RightMask {
            position: absolute;
            background-color: black;
            top: -40%;
            right: 0%;
            width: 15%;
            height: 160%; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo[masks=off] #LeftMask,
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo[masks=off] #RightMask {
            display: none; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #TopBox {
            top: 5%;
            left: 2%;
            width: 96%;
            height: 96%;
            position: absolute; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #TopBox #Speed {
              top: 75%;
              left: 0%;
              width: 11%;
              height: 25%;
              position: absolute; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #TopBox #Approach {
              top: 0%;
              left: 0%;
              width: 12%;
              height: 25%;
              position: absolute; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #TopBox #Waypoint {
              top: 0%;
              left: 0%;
              width: 12%;
              height: 25%;
              position: absolute; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #TopBox svg {
              width: 100%;
              height: 100%;
              overflow: visible; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #TopBox text {
              width: 100%;
              height: 100%;
              font-family: 'Collins ProLine'; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #TopBox text.Value {
              font-size: 18px;
              fill: green;
              text-anchor: end; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #TopBox text.Units {
              font-size: 18px;
              fill: green;
              text-anchor: end; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #TopBox text.Small {
              font-size: 18px;
              fill: green; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #TopBox text.Large {
              font-size: 26px;
              fill: green; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #TopBox text.Wind {
              font-size: 18px;
              fill: magenta;
              text-anchor: end; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #VORDMENavaids div {
            top: 87%;
            width: 25%;
            height: 13%;
            position: absolute;
            background-color: black; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #VORDMENavaids svg {
            width: 100%;
            height: 100%; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #VORDMENavaids #VORDMENavaid_Left {
            left: 2.5%; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #VORDMENavaids #VORDMENavaid_Right {
            right: 2.5%; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #VORDMENavaids text {
            font-family: 'Collins ProLine';
            text-align: center;
            text-anchor: middle; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #VORDMENavaids #State {
            font-size: calc( 3 * 1vh * var(--bodyHeightScale));
            fill: white; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #VORDMENavaids #ID {
            font-size: calc( 3 * 1vh * var(--bodyHeightScale));
            fill: white; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #VORDMENavaids #Mode {
            font-size: calc( 3 * 1vh * var(--bodyHeightScale));
            fill: white;
            text-decoration: underline; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #VORDMENavaids #Distance {
            font-size: calc( 2.5 * 1vh * var(--bodyHeightScale));
            fill: green; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #VORDMENavaids #Unit {
            font-size: calc( 2.5 * 1vh * var(--bodyHeightScale));
            fill: cyan; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #VORDMENavaids #Arrow {
            fill: none;
            stroke: white;
            stroke-width: 6px; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #Symbols {
            top: 85%;
            left: 87%;
            width: 11%;
            height: 5%;
            position: absolute; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #Symbols svg {
              width: 100%;
              height: 100%; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #Symbols text {
              width: 100%;
              height: 100%;
              font-family: 'Collins ProLine';
              font-size: 18px;
              fill: cyan;
              text-anchor: end; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #ElapsedTime {
            top: 76%;
            left: 87%;
            width: 11%;
            height: 5%;
            position: absolute; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #ElapsedTime svg {
              width: 100%;
              height: 100%; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #ElapsedTime text {
              width: 100%;
              height: 100%;
              font-family: 'Collins ProLine'; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #ElapsedTime text.Title {
              font-size: 18px;
              fill: white; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #ElapsedTime text.Value {
              font-size: 18px;
              fill: green;
              text-anchor: end; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay[extended=on] {
            top: 35%; }
cj4-mfd-element #Mainframe #Electricity #MainDisplay #FMSInfos {
  position: absolute;
  top: 22.5%;
  left: 0;
  width: 100%;
  height: 22.5%;
  background-color: black;
  color: white;
}
cj4-mfd-element #Mainframe #Electricity #MainDisplay #FMSInfos[visible=false] {
  display: none; }
cj4-mfd-element #Mainframe #Electricity #MainDisplay #FMSInfos .cj4x-navigation-data-page-head {
  margin-bottom: 50px; }
cj4-mfd-element #Mainframe #Electricity #MainDisplay #FMSInfos .cj4x-navigation-data-previous-leg {
  color: cyan; }
cj4-mfd-element #Mainframe #Electricity #MainDisplay #FMSInfos .cj4x-navigation-data-active-leg {
  color: magenta; }
cj4-mfd-element #Mainframe #Electricity #MainDisplay #FMSInfos .cj4x-navigation-data-flightplan-leg {
  margin-bottom: 50px; }
cj4-mfd-element #Mainframe #Electricity #MainDisplay #FMSInfos .cj4x-navigation-data-col {
  display: inline-block;
  text-align: left;
  width: 10%; }
cj4-mfd-element #Mainframe #Electricity #MainDisplay #FMSInfos .cj4x-navigation-data-col-right {
  display: inline-block;
  text-align: right;
  width: 12%;
  margin-right: 5%;
}
cj4-mfd-element #Mainframe #Electricity #MainDisplay #FMSInfos .cj4x-navigation-data-col-large {
  display: inline-block;
  text-align: left;
  width: 21%; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar {
          transform: rotateX(0);
          position: absolute;
          background-color: black;
          width: 100%;
          height: 3%;
          bottom: 0%; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar #Coms {
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 100%; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar #Coms #GS,
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar #Coms #TAS,
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar #Coms #Rat,
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar #Coms #Sat,
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar #Coms #Utc {
              display: flex;
              justify-content: center;
              font-size: calc( 1.95 * 1vh * var(--bodyHeightScale)); }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar #Cabs {
            display: none;
            justify-content: space-around;
            width: 95%;
            height: 100%;
            margin-left: 2.5%; }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar #Cabs #Cab {
              margin-right: 10px;
              display: flex;
              justify-content: center;
              font-size: calc( 1.95 * 1vh * var(--bodyHeightScale)); }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar #Cabs #Elev {
              display: flex;
              justify-content: center;
              font-size: calc( 1.95 * 1vh * var(--bodyHeightScale)); }
            cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar #Cabs #Alt, cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar #Cabs #Rate, cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar #Cabs #Diff {
              display: flex;
              min-width: 25%;
              font-size: calc( 1.95 * 1vh * var(--bodyHeightScale));
              justify-content: space-around; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar .Modifiable {
            color: green;
            margin-left: 8px; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar .Borders {
            border: 2px solid white; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar .SubValue {
            display: flex; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar[state=Cabs] #Coms {
            display: none; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #NavBar[state=Cabs] #Cabs {
            display: flex; }
        cj4-mfd-element #Mainframe #Electricity #MainDisplay #PopupMenu {
          transform: rotateX(0);
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          z-index: 3; }
          cj4-mfd-element #Mainframe #Electricity #MainDisplay #PopupMenu svg {
            width: 100%;
            height: 100%; }

.Large {
  font-size: 32px;
  line-height: 28px
}

.Small {
  font-size: 22px;
}

#Waypoint {
  color: magenta;
}

#Approach,
#AutopilotInfos,
#Coms div.Modifiable {
  color: #11d011 !important;
}

cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #TopBox {
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  margin: 54px 8px
}

#TopBox div {
  margin: 0;
  padding: 0;
  text-align: left;
}

#TopBox {
  position: absolute;
  width: 200%;
}

cj4-mfd-element #Mainframe #Electricity #MainDisplay #MapOverlay #NDInfo #TopBox #Speed {
  position: absolute;
  top: 0;
  left: 0;
}

cj4-mfd-element #Mainframe #MapOverlay #NDInfo #TopBox text.Wind {
  font-size: 20px;
}

#MapOverlay #selectedRefGroup text:first-child {
  font-size: 28px;
}

#MapOverlay #selectedRefGroup text:last-child {
  font-size: 40px;
}

#MapOverlay g#selectedRefGroup {
  transform: translateY(18px);
}

#MapOverlay #NDCompass #currentRefGroup text {
  font-size: 34px;
  fill: #11d011;
}

cj4-mfd-element #Mainframe #Electricity #MainDisplay #Checklist {
  position: absolute;
  top: 22.5%;
  left: 0;
  width: 100%;
  height: 22.5%;
  background-color: black;
  color: white;
}
cj4-mfd-element #Mainframe #Electricity #MainDisplay #Checklist[visible=false] {
  display: none; }

cj4-mfd-element #Mainframe #Electricity #MainDisplay #PassengerBrief {
  position: absolute;
  top: 22.5%;
  left: 0;
  width: 100%;
  height: 22.5%;
  background-color: black;
  color: white;
}
cj4-mfd-element #Mainframe #Electricity #MainDisplay #PassengerBrief[visible=false] {
  display: none; }

cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemOverlay {
  position: absolute;
  bottom: 3.5%;
  left: 2.5%;
  width: 95%;
  height: 18%;
  background-color: black;
  border: white 2px solid;
  color: white;
}
cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemOverlay .SystemHeader {
  padding: 5px;
  width: 100%;
  height: 30px;
  background-color: dodgerblue;
}
cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemOverlay .SystemBody {
  width: 100%;
  max-height: 100%;
  position: relative;
}
cj4-mfd-element #Mainframe #Electricity #MainDisplay #SystemOverlay[visible=false] {
  display: none; }
            
