:root {
    --bodyHeightScale: 1;
}

@keyframes TemporaryShow {

    0%,
    100% {
        visibility: visible;
    }
}

@keyframes TemporaryHide {

    0%,
    100% {
        visibility: hidden;
    }
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html body {
    -webkit-user-select: none;
    font-family: Roboto-Regular;
    font-size: calc(var(--viewportHeightRatio) * (36px / 21.6) * var(--currentPageHeight) / 100);
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#highlight {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#Electricity {
    width: 100%;
    height: 100%;
}

#Electricity[state=off] {
    display: none;
}

@font-face {
    font-family: "Roboto";
    src: url("/Fonts/RobotoMono-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("/Fonts/RobotoMono-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Collins ProLine";
    src: url("/Pages/VCockpit/Instruments/Airliners/CJ4/Shared/CollinsProLine-LightCondensed.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.blinking {
    animation: blink 1.0s step-start 0s infinite;
    -webkit-animation: blink 1.0s step-start 0s infinite;
}

svg text {
    font-family: 'Collins ProLine';
}

cj4-pfd-element {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: 'Collins ProLine';
    position: relative;
    overflow: hidden;
    z-index: -10;
}

cj4-pfd-element #Electricity {
    width: 100%;
    height: 100%;
}

cj4-pfd-element #Electricity[state=off] {
    display: none;
}

cj4-pfd-element #Mainframe {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

cj4-pfd-element #Mainframe #PFD {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 45%;
}

cj4-pfd-element #Mainframe #PFD #HorizonContainer {
    transform: rotateX(0);
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

cj4-pfd-element #Mainframe #PFD #HorizonContainer #Horizon {
    position: absolute;
    left: 24%;
    top: 28%;
    width: 50%;
    height: 41%;
    border: none;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer {
    transform: rotateX(0);
    width: 100%;
    height: 100%;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #Altimeter {
    transform: rotateX(0);
    position: absolute;
    top: 8%;
    left: 76.4%;
    width: 28%;
    height: 100%;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #Airspeed {
    transform: rotateX(0);
    position: absolute;
    top: 8%;
    left: 7.95%;
    width: 28%;
    height: 100%;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #VnavAlt {
    transform: rotateX(0);
    position: absolute;
    font-size: 26px;
    color: magenta;
    font: "Robot-Bold";
    -webkit-text-stroke: 7px black;
    text-align: right;
    top: 2.75%;
    left: 80%;
    width: 150px;
    height: 100px;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #VSpeed {
    transform: rotateX(0);
    position: absolute;
    border: none;
    top: 8%;
    left: 92%;
    width: 28%;
    height: 100%;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AOA {
    transform: rotateX(0);
    position: absolute;
    border: none;
    top: 8%;
    left: 0%;
    width: 28%;
    height: 100%;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #ILS {
    transform: rotateX(0);
    position: absolute;
    border: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .failline{
    display: none;
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .failline line{
    stroke: #FFE133;
    stroke-width: 2;
    stroke-linecap: round;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .fail>.failline{
    display: block;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos {
    position: absolute;
    width: 40vh;
    height: 8%;
    top: 0%;
    left: calc(50% - 20vh);
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos #AutopilotBg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    opacity: 0.5;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Left {
    position: absolute;
    width: 45%;
    height: 100%;
    left: 0%;
    top: 0%;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Left #apprActiveField {
    position: absolute;
    width: 100%;
    color: green;
    font-size: 1.5vh;
    top: 8%;
    left: 8%;
    display: none
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Left #lateralActiveField {
    position: absolute;
    color: green;
    font-size: 1.5vh;
    top: 8%;
    left: 0%;
    width: 90%;
    text-align: right;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Left #fdSyncField {
    position: absolute;
    width: 100%;
    color: white;
    font-size: 1.25vh;
    bottom: 8%;
    left: 3%;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Left #lateralArmField {
    position: absolute;
    width: 90%;
    color: white;
    font-size: 1.25vh;
    bottom: 8%;
    left: 0;
    text-align: right;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Center {
    width: 24%;
    height: 100%;
    position: absolute;
    left: 25%;
    top: 0%;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Center #ap_ydEngageField {
    position: absolute;
    width: 100%;
    color: green;
    font-size: 1.5vh;
    top: 8%;
    left: 50%;
    text-align: center;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Center #fdIndicatorArrow {
    position: absolute;
    width: 42%;
    left: 77%;
    bottom: 0;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Center #fdIndicatorArrow[state=Inactive] {
    display: none;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Center #fdIndicatorArrow path{
    fill: white; }

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Center #fdIndicatorArrow polyline{
    fill: none;
    stroke-width: 8;
    stroke-linecap: "round";
    stroke: white;
    display: none;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Center #fdIndicatorArrow.both polyline{
    display: block;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Center #fdIndicatorArrow #rotationGroup {
    transform: rotate(0deg);
}
cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Center #fdIndicatorArrow.right #rotationGroup {
    transform: rotate(180deg);
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Center #fdIndicatorArrow[state=Engaged] path{
    fill: #11d011;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Center #fdIndicatorArrow[state=Engaged] polyline{
  stroke: #11d011;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Right {
    width: 52%;
    height: 100%;
    position: absolute;
    right: 0%;
    top: 0%;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Right #verticalActiveField {
    position: absolute;
    width: 80%;
    color: white;
    font-size: 1.5vh;
    top: 8%;
    left: 16%;
    text-align: left;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Right #verticalCaptureDataField {
    position: absolute;
    width: 62%;
    color: cyan;
    font-size: 22px;
    top: 8%;
    right: 0;
    text-align: left;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Right #verticalCaptureDataField_Icon {
    display: none;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Right #verticalCaptureDataField_Icon #Speedbug {
    width: 20%;
    margin-left: 2%;
    margin-right: -7%;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Right #verticalCaptureDataField_Icon #Speedbug path {
    fill: transparent;
    stroke: cyan;
    stroke-width: 2;
    stroke-linecap: round;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Right #verticalArmField {
    position: absolute;
    width: 50%;
    color: white;
    font-size: 1.25vh;
    bottom: 8%;
    left: 2%;
    text-align: center;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Right #vnavArmField {
    position: absolute;
    width: 30%;
    color: white;
    font-size: 1.25vh;
    bottom: 8%;
    right:25%;
    text-align: center;
    overflow-y: hidden
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Right #approachVerticalArmField {
    position: absolute;
    width: 50%;
    color: white;
    font-size: 1.25vh;
    bottom: 8%;
    right: 8%;
    text-align: right;
}

cj4-pfd-element #Mainframe #PFD[visible=false] {
    display: none;
}

cj4-pfd-element #Mainframe #SystemInfos {
    left: 0%;
    top: 0%;
    width: 100%;
    height: 22.5%;
    position: absolute;
    background-color: black;
}

cj4-pfd-element #Mainframe #SystemInfos #SystemAnnunciations {
    top: 5%;
    left: 4%;
    width: 95%;
    height: 95%;
    position: relative;
    display: none;
}

cj4-pfd-element #Mainframe #SystemInfos #SystemAnnunciations div {
    font-size: 1.8vh;
    text-align: left;
    margin-right: 15px;
    margin-bottom: 1px;
}

cj4-pfd-element #Mainframe #SystemInfos #SystemAnnunciations .Warning,
cj4-pfd-element #Mainframe #SystemInfos #SystemAnnunciations .Warning_Blink {
    color: red;
}

cj4-pfd-element #Mainframe #SystemInfos #SystemAnnunciations .Caution,
cj4-pfd-element #Mainframe #SystemInfos #SystemAnnunciations .Caution_Blink {
    color: yellow;
}

cj4-pfd-element #Mainframe #SystemInfos #SystemAnnunciations[state=Blink] .Warning_Blink {
    color: white;
    background-color: red;
}

cj4-pfd-element #Mainframe #SystemInfos #SystemAnnunciations[state=Blink] .Caution_Blink {
    color: black;
    background-color: yellow;
}

cj4-pfd-element #Mainframe #SystemInfos[page=electrics] #SystemElectrics {
    display: block;
}

cj4-pfd-element #Mainframe #SystemInfos[page=electrics] #SystemFMS,
cj4-pfd-element #Mainframe #SystemInfos[page=electrics] #SystemAnnunciations {
    display: none;
}

cj4-pfd-element #Mainframe #SystemInfos[page=fms] #SystemFMS {
    display: block;
}

cj4-pfd-element #Mainframe #SystemInfos[page=fms] #SystemElectrics,
cj4-pfd-element #Mainframe #SystemInfos[page=fms] #SystemAnnunciations {
    display: none;
}

cj4-pfd-element #Mainframe #SystemInfos[page=annunciations] #SystemAnnunciations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

cj4-pfd-element #Mainframe #SystemInfos[page=annunciations] #SystemElectrics,
cj4-pfd-element #Mainframe #SystemInfos[page=annunciations] #SystemFMS {
    display: none;
}

cj4-pfd-element #Mainframe #SystemInfos[visible=false] {
    display: none;
}

cj4-pfd-element #Mainframe #NDMap {
    position: absolute;
    top: 23%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
    z-index: -2;
    /* Map position (left and top) is set in mapConfig.json file (see SvgMapConfig.ts) (makes it editable at runtime) */
    /* Map position (left and top) is set in mapConfig.json file (see SvgMapConfig.ts) (makes it editable at runtime) */
}

cj4-pfd-element #Mainframe #NDMap #MapOrientation {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 10%;
    height: calc(3 * 1vh * var(--bodyHeightScale));
    background-color: #1a1d21;
    color: white;
}

cj4-pfd-element #Mainframe #NDMap #WindData {
    position: absolute;
    top: 0%;
    width: 7%;
    right: 10%;
}

cj4-pfd-element #Mainframe #NDMap #MapRange {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: calc(3 * 1vh * var(--bodyHeightScale));
    background-color: #1a1d21;
    color: #36c8d2;
}

cj4-pfd-element #Mainframe #NDMap #MapSVG,
cj4-pfd-element #Mainframe #NDMap #road-network-canvas {
    transform: rotateX(0);
    position: absolute;
}

cj4-pfd-element #Mainframe #NDMap bing-map {
    transform: rotateX(0);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

cj4-pfd-element #Mainframe #NDMap[extended=on] {
    top: 13%;
}

cj4-pfd-element #Mainframe #NDMapOverlay {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 55%;
    z-index: -1;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDCompass {
    transform: rotateX(0);
    position: absolute;
    border: none;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

cj4-pfd-element #Mainframe #NDMapOverlay #ModeChangeMask {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background-color: black;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #LeftMask {
    position: absolute;
    background-color: black;
    top: -40%;
    left: 0%;
    width: 15%;
    height: 160%;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #RightMask {
    position: absolute;
    background-color: black;
    top: -40%;
    right: 0%;
    width: 15%;
    height: 160%;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo[masks=off] #LeftMask,
cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo[masks=off] #RightMask {
    display: none;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #Minimums {
    top: 3%;
    right: 2%;
    width: 22%;
    height: 8%;
    font-size: 25px;
    color: cyan;
    position: absolute;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #TopBox {
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
    position: absolute;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #TopBox #Speed {
    top: 75%;
    left: 0%;
    width: 11%;
    height: 25%;
    position: absolute;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #TopBox #Approach {
    top: 5%;
    left: 0%;
    width: 12%;
    height: 25%;
    position: absolute;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #TopBox #Waypoint {
    top: 5%;
    left: 0%;
    width: 12%;
    height: 25%;
    position: absolute;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #TopBox svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #TopBox text {
    width: 100%;
    height: 100%;
    font-family: 'Collins ProLine';
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #TopBox text.Value {
    font-size: 18px;
    fill: green;
    text-anchor: end;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #TopBox text.Units {
    font-size: 18px;
    fill: green;
    text-anchor: end;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #TopBox text.Small {
    font-size: 18px;
    fill: green;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #TopBox text.Large {
    font-size: 26px;
    fill: green;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #TopBox text.Wind {
    font-size: 18px;
    fill: magenta;
    text-anchor: end;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #VORDMENavaids svg {
    width: 100%;
    height: 100%;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #VORDMENavaids #Unit {
    font-size: 22px;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #VORDMENavaids #VORDMENavaid_Left {
    color: cyan;
    stroke: cyan;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #VORDMENavaids #VORDMENavaid_Right {
    color: white;
    stroke: white;
}

#VORDMENavaids {
    font-size: 22px;
    position: absolute;
    top: 400px;
    top: 320px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #VORDMENavaids #Arrow {
    fill: none;
    stroke-width: 1px;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #Symbols {
    top: 72%;
    left: 87%;
    width: 11%;
    height: 5%;
    position: absolute;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #Symbols svg {
    width: 100%;
    height: 100%;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #Symbols text {
    width: 100%;
    height: 100%;
    font-family: 'Collins ProLine';
    font-size: 18px;
    fill: cyan;
    text-anchor: end;
}


cj4-pfd-element #Mainframe #NDMapOverlay[extended=on] {
    top: 35%;
}

cj4-pfd-element #Mainframe #ElapsedTime {
    transform: rotateX(0);
    position: absolute;
    background-color: black;
    width: 25%;
    height: 3%;
    bottom: 6.7%;
    left: 1.2%
}

cj4-pfd-element #Mainframe #ElapsedTime #ET {
    font-size: calc(2 * 1vh * var(--bodyHeightScale));
    padding-right: 2%
}

cj4-pfd-element #Mainframe #ElapsedTime #ET_Value {
    font-size: calc(2.3 * 1vh * var(--bodyHeightScale));
}

cj4-pfd-element #Mainframe #NavBar {
    transform: rotateX(0);
    position: absolute;
    background-color: black;
    width: 100%;
    height: 3%;
    bottom: 0%;
}

cj4-pfd-element #Mainframe #NavBar #Coms {
    display: flex;
    justify-content: space-between;;
    width: 100%;
    height: 100%;
}

cj4-pfd-element #Mainframe #NavBar #Coms #Com1,
cj4-pfd-element #Mainframe #NavBar #Coms #Com2,
cj4-pfd-element #Mainframe #NavBar #Coms #Atc1,
cj4-pfd-element #Mainframe #NavBar #Coms #Rat,
cj4-pfd-element #Mainframe #NavBar #Coms #Utc {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: calc(2 * 1vh * var(--bodyHeightScale));
}

cj4-pfd-element #Mainframe #NavBar #Coms #Com1{
    padding-left: 1.2%
}

cj4-pfd-element #Mainframe #NavBar #Coms #Utc{
    padding-right: 0.5%
}

cj4-pfd-element #Mainframe #NavBar #Coms #Com1_Value,
cj4-pfd-element #Mainframe #NavBar #Coms #Com2_Value,
cj4-pfd-element #Mainframe #NavBar #Coms #Atc1_Value,
cj4-pfd-element #Mainframe #NavBar #Coms #Rat_Value,
cj4-pfd-element #Mainframe #NavBar #Coms #Utc_Value,
cj4-pfd-element #Mainframe #NavBar #Coms #Rat_Unit {
    font-size: calc(2.3 * 1vh * var(--bodyHeightScale));
}

cj4-pfd-element #Mainframe #NavBar #Cabs {
    display: none;
    justify-content: space-around;
    width: 95%;
    height: 100%;
    margin-left: 2.5%;
}

cj4-pfd-element #Mainframe #NavBar #Cabs #Cab {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    font-size: calc(1.95 * 1vh * var(--bodyHeightScale));
}

cj4-pfd-element #Mainframe #NavBar #Cabs #Elev {
    display: flex;
    justify-content: center;
    font-size: calc(1.95 * 1vh * var(--bodyHeightScale));
}

cj4-pfd-element #Mainframe #NavBar #Cabs #Alt,
cj4-pfd-element #Mainframe #NavBar #Cabs #Rate,
cj4-pfd-element #Mainframe #NavBar #Cabs #Diff {
    display: flex;
    min-width: 25%;
    font-size: calc(1.95 * 1vh * var(--bodyHeightScale));
    justify-content: space-around;
}

cj4-pfd-element #Mainframe #NavBar .Modifiable {
    color: green;
    margin-left: 8px;
    margin-right: 4px;
}

cj4-pfd-element #Mainframe #NavBar .Borders {
    border: 2px solid white;
}

cj4-pfd-element #Mainframe #NavBar .SubValue {
    display: flex;
}

cj4-pfd-element #Mainframe #NavBar[state=Cabs] #Coms {
    display: none;
}

cj4-pfd-element #Mainframe #NavBar[state=Cabs] #Cabs {
    display: flex;
}

cj4-pfd-element #Mainframe #PopupMenu {
    transform: rotateX(0);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

cj4-pfd-element #Mainframe #PopupMenu svg {
    width: 100%;
    height: 100%;
}

#GraduationsGroup {
    transform: translateX(4px);
}

#GraduationsGroup text {
    font-size: 24px;
}

.Large {
    font-size: 32px;
    line-height: 28px
}

.Small {
    font-size: 22px;
}

#Waypoint {
    color: magenta;
}

#Approach,
#ElapsedTime .Modifiable,
#NavBar .Modifiable {
    color: #11d011 !important;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #TopBox {
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    margin: 54px 8px
}

#TopBox div {
    margin: 0;
    padding: 0;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #TopBox #Speed {
    position: absolute;
    top: 0;
    left: 0;
}

#currentRefGroup text {
    font-size: 34px;
    fill: #11d011;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Left #apprActiveField,
cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Left #lateralActiveField,
cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Center #ap_ydEngageField,
cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Right #verticalActiveField {
    color: #11d011 !important;
    font-size: 22px
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Left #fdSyncField,
cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Left #lateralArmField,
cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Right #verticalArmField,
cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Right #vnavArmField,
cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos .Right #approachVerticalArmField {
    font-size: 22px;
    margin-bottom: -6px;
}

cj4-pfd-element #Mainframe #PFD #InstrumentsContainer #AutopilotInfos {
    height: 10%;
}

#Airspeed #Graduations text {
    font-size: 24px;
}

cj4-pfd-element #Mainframe #NDMapOverlay #NDInfo #TopBox text.Wind {
    font-size: 20px;
}

/* #NDMapOverlay #selectedRefGroup text:first-child {
  font-size: 28px;
}

#NDMapOverlay #selectedRefGroup text:last-child {
  font-size: 40px;
} */

/* #NDMapOverlay g#selectedRefGroup {
  transform: translateY(18px);
} */

/* #NDMapOverlay g#selectedRefGroup_arc {
  transform: translateY(15px);
}

#NDMapOverlay g#selectedRefGroup_rose {
  transform: translateY(0px);
} */

#VerticalSpeed #CenterGroup>text {
    fill: #11d011;
    font-size: 22px;
}

#Airspeed #CenterGroup #CursorGroup text,
#Altimeter #CenterGroup #CursorGroup text {
    fill: #11d011;
}

#Airspeed>text:last-child {
    fill: cyan;
    font-size: 30px;
}

.bearing-block-arrow {
    width: 18px;
    padding-top: 8px;
    padding-left: 4px;
    float: left;
    position: relative;
    top: -10px;
}

.bearing-block-dist {
    width: 45px;
    float: left;
    margin-left: 6px;
    line-height: 22px;
}

.bearing-pointer.arc {
    position: absolute;
    left: 86px;
    top: -268px;
    width: 600px;
}

.bearing-pointer.rose {
    position: absolute;
    left: 156px;
    top: -260px;
    width: 460px;
    stroke-width: 1.4;
}

.bearing-pointer-needle {
    transform-origin: 100px 100px;
    transition: transform .1s ease-in;
}

#VORDMENavaid_Left #ID,
#VORDMENavaid_Right #ID {
    padding-left: 4px;
}

#VSpeeds text {
    font-size: 31px;
}

#VSpeeds text.subscript-vspeed {
    font-size: 23px;
}

#Airspeed #CursorGroup text {
    font-size: 38px;
}

#Airspeed #CursorGroup path {
    transform: translateY(-1px)
}

#Altimeter #CenterGroup #graduationGroup>text[font-size="25"] {
    font-size: 38px;
    letter-spacing: 0px;
}

#Altimeter #CenterGroup #graduationGroup>text[font-size="18"] {
    font-size: 24px;
    letter-spacing: 0px;
}

#Altimeter #CenterGroup #CursorGroup>text[font-size="31.25"] {
    font-size: 40px;
    letter-spacing: 0px;
}

#Altimeter #CenterGroup #CursorGroup>text[font-size="23.75"] {
    font-size: 26px;
    letter-spacing: 0px;
}

#PFDMessageTop {
    top: 3%;
    left: 1.2%;
    width: 11.5%;
    position: absolute;
    /* border:solid 1px red; */
    text-align: right;
    font-size: 21px;
}

#PFDMessageBottom {
    top: 8%;
    left: 1.2%;
    min-width: 11.5%;
    width: 11.5%;
    position: absolute;
    font-size: 21px;
}

/* clear the floats for the two columns */
#PFDMessageBottom:after {
    content: "";
    display: table;
    clear: both;
}

#PFDMessageBotLeft {
    float: left;
    min-width: 50%;
    width: 50%;
    text-align: left;
}

#PFDMessageBotRight {
    float: left;
    min-width: 50%;
    width: 50%;
    text-align: right;
}

.yellow {
    color: yellow;
}

#NavPreset {
    position: relative;
    font-size: 22px;
    top: 330px;
    left: 8px;
    width: 58px;
}

.preset-name {
    color: cyan;
    padding: 4px 0 0 4px;
    border: 2px solid cyan;
}

.preset-tuning {
    color: cyan;
}

#Symbols ul {
    font-size: 22px;
    list-style: none;
    padding: 0;
    text-align: right;
}

#Symbols li {
    padding: 0;
}

#Symbols .active {
    font-size: 24px;
    color: cyan;
}

#Symbols .overlay-wx-line1,
#Symbols .overlay-wx-line2 {
    color: cyan;
}