.box, .smallbox {
  display: none;
  border: 0.175rem solid white;
  font-size: 1.75rem;
  position: absolute;
  padding: 0.4rem 0.15rem 0 0.15rem;
  line-height: 0.8;
  background: black
}

.smallbox{
  font-size: 1.5rem;
}

.blue {
  color: cyan;
  border-color: cyan;
}

.full.blue.box {
  background: cyan;
  border-color: cyan;
}

.red {
  color: red;
  border-color: red;
}

.yellow {
  color: #FFE133;
  border-color: #FFE133;
}

#HorizonAlt {
  left: 45.8%;
  top: 46.5%;
}

.red_att #Horizon #Pitch, .red_att #Horizon #AttitudeBank, .red_att #Horizon #AttitudeSlipSkidTriangle, .red_att #Horizon #AttitudeSlipSkid, .red_att #Horizon #Background, .red_att #Horizon #RadioAltitude {
  display: none;
}

.red_att #HorizonAlt {
  display: block;
}

#HorizonAlign {
  display: none;
}

#HorizonAlign_AttHdg {
  display: block;
  left: 33.1%;
  top: 41.6%;
}

#HorizonAlign_TaxiWarning {
  display: block;
  left: 37.9%;
  top: 48.6%;
}

.blue_align #HorizonAlign {
  display: block;
}

#AltimeterAlt {
  left: 80.75%;
  top: 51%;
}

.red_alt #Altimeter #TargetAltitude, .red_alt #Altimeter #TargetAltitudeM, .red_alt #Altimeter #TargetAltitudeIndicator, .red_alt #Altimeter #CursorGroupM, .red_alt #Altimeter #CursorGroup, .red_alt #Altimeter #graduationGroup, .red_alt #Altimeter #GroundRibbonGroup, .red_alt #Altimeter #BaroMinsIndicator, .red_alt #Altimeter #Pressure {
  display: none;
}

.red_alt #AltimeterAlt {
  display: block;
}

#VSpeedAlt {
  left: 93.7%;
  top: 51%;
}

.red_vs #VSpeed {
  display: none;
}

.red_vs #VSpeedAlt {
  display: block;
}

#AirspeedAlt {
  left: 12.3%;
  top: 51%;
}

.red_ias #Airspeed {
  display: none;
}

.red_ias #AirspeedAlt {
  display: block;
}

#AOAAlt {
  left: 0.95%;
  top: 51.3%;
}

.red_aoa #AOA,
.yellow_aoa #AOA {
  display: none;
}

.red_aoa #AOAAltR {
  display: block;
}

.yellow_aoa #AOAAltY {
  display: block;
}

#Copyright {
  left: 29.2%;
  top: 78.15%;
}

.copyright #Copyright {
  display: block;
}

#Atc1_Fail {
  opacity: 0;
  margin-left: -4px;
}

.yellow_atc1 #Atc1_Fail {
  opacity: 1;
}