.box{
  display: none;
  border: 0.175rem solid white;
  font-size: 1.75rem;
  position: absolute;
  padding: 0.4rem 0.15rem 0 0.15rem;
  line-height: 0.8;
}

.red{
  color: red;
  border-color: red;
}

.yellow{
  color: #FFE133;
  border-color: #FFE133;
}

#HorizonAlt{
  left: 45.8%;
  top: 46.5%;
}

.red_att #Horizon #Pitch,
.red_att #Horizon #AttitudeBank,
.red_att #Horizon #AttitudeSlipSkidTriangle,
.red_att #Horizon #AttitudeSlipSkid,
.red_att #Horizon #Background,
.red_att #Horizon #RadioAltitude{
  display: none;
}

.red_att #ILS #GlideSlopeGroup,
.red_att #ILS #LocalizerGroup{
  visibility: visible;
}

.red_att #ILS #CursorGroup{
  display: none;
}

.red_att #HorizonAlt{
  display: block;
}

#AltimeterAlt{
  left: 80.75%;
  top: 51%;
}

.red_alt #Altimeter{
  display: none;
}

.red_alt #AltimeterAlt{
  display: block;
}

#VSpeedAlt{
  left: 93.7%;
  top: 51%;
}

.red_vs #VSpeed{
  display: none;
}

.red_vs #VSpeedAlt{
  display: block;
}

#Atc1_Fail{
  opacity: 0;
  margin-left: -4px;
}

.yellow_atc1 #Atc1_Fail{
  opacity: 1;
}