
.box, .smallbox {
  display: none;
  border: 0.175rem solid white;
  font-size: 1.75rem;
  position: absolute;
  padding: 0.4rem 0.15rem 0 0.15rem;
  line-height: 0.8;
  /* In case a clearer distinction from the background is needed */
  /* box-shadow: -1px -1px black, 1px 1px black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.smallbox{
  font-size: 1.5rem;
}

.blue {
  color: cyan;
  border-color: cyan;
}

.full.blue.box {
  background: cyan;
  border-color: cyan;
}

.red {
  color: red;
  border-color: red;
}

.yellow {
  color: #FFE133;
  border-color: #FFE133;
}

#HorizonAlt {
  left: 45.7%;
  top: 46.5%;
}

.red_att #Horizon #Pitch, .red_att #Horizon #AttitudeBank, .red_att #Horizon #AttitudeSlipSkidTriangle, .red_att #Horizon #AttitudeSlipSkid, .red_att #Horizon #Background, .red_att #Horizon #RadioAltitude {
  display: none;
}

.red_att #HorizonAlt {
  display: block;
}

#HorizonAlign {
  display: none;
}

#HorizonAlign_AttHdg {
  display: block;
  left: 33.1%;
  top: 41.6%;
}

#HorizonAlign_TaxiWarning {
  display: block;
  left: 37.9%;
  top: 48.6%;
}

.blue_align #HorizonAlign {
  display: block;
}

#FDAlt_R, #FDAlt_Y {
  left: 38%;
  top: 47%;
}

.red_fd #FDAlt_R {
display: block;
}

.yellow_fd #FDAlt_Y {
display: block;
}

#AltimeterAlt {
  left: 80.75%;
  top: 51%;
}

.red_alt #Altimeter #TargetAltitude, .red_alt #Altimeter #TargetAltitudeM, .red_alt #Altimeter #CenterGroup, .red_alt #Altimeter #TargetAltitudeIndicator, .red_alt #Altimeter #CursorGroupM, .red_alt #Altimeter #CursorGroup, .red_alt #Altimeter #graduationGroup, .red_alt #Altimeter #GroundRibbonGroup, .red_alt #Altimeter #BaroMinsIndicator, .red_alt #Altimeter #Pressure {
  display: none;
}

.red_alt #AltimeterAlt {
  display: block;
}

#VSpeedAlt {
  left: 93.7%;
  top: 51%;
}

.red_vs #VSpeed {
  display: none;
}

.red_vs #VSpeedAlt {
  display: block;
}

#AirspeedAlt {
  left: 12.3%;
  top: 51%;
}

.red_ias #Airspeed {
  display: none;
}

.red_ias #AirspeedAlt {
  display: block;
}

#AOAAlt_R,  #AOAAlt_Y {
  left: 0.95%;
  top: 51.3%;
}

.red_aoa #AOA,
.yellow_aoa #AOA {
  display: none;
}

.red_aoa #AOAAlt_R {
  display: block;
}

.yellow_aoa #AOAAlt_Y {
  display: block;
}

#AirspeedAlt {
  left: 12.3%;
  top: 51%;
}

#GSAlt_R, #GSAlt_Y {
  left: 68.45%;
  top: 86.85%;
}

.red_gs #GlideSlopeGroup, .yellow_gs #GlideSlopeGroup,
.red_gs #GlideSlopeGroup #CursorGroup, .yellow_gs #GlideSlopeGroup #CursorGroup,
.red_gs #GlideSlopeGroup #SnowflakeGroup, .yellow_gs #GlideSlopeGroup #SnowflakeGroup {
  visibility: hidden;
}

.red_gs #GSAlt_R {
  display: block;
}

.yellow_gs #GSAlt_Y {
  display: block;
}

#LOCAlt_R, #LOCAlt_Y {
  left: 55%;
  top: 86.85%;
}

.red_loc #LocalizerGroup, .yellow_loc #LocalizerGroup,
.red_loc #LocalizerGroup #CursorGroup, .yellow_loc #LocalizerGroup #CursorGroup{
  visibility: hidden;
}

.red_loc #LOCAlt_R {
  display: block;
}

.yellow_loc #LOCAlt_Y {
  display: block;
}

#Copyright {
  left: 29.2%;
  top: 78.15%;
}

.copyright #Copyright {
  display: block;
  background: black
}

#Atc1_Fail {
  opacity: 0;
  margin-left: -4px;
}

.yellow_atc1 #Atc1_Fail {
  opacity: 1;
}