glasscockpit-altimeter {
    transform: rotateX(0);
    position: absolute;
    top: 4%;
    height: 57%;
    right: 10%;
    width: 57% * (380/700) * (3/4);
    //background: red;

    $stroke_width: 3px;

    .svg-background,
    .svg-overlay {
        transform: rotateX(0);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .altimeter-background {
        fill: rgba(#333, 0.5);
        stroke: #ddd;
        stroke-width: $stroke_width;
    }

    .vspeed-background {
        fill: rgba(#333, 0.5);
        stroke: #ddd;
        stroke-width: $stroke_width;
    }

    .selected-altitude-bug {
        fill: $input_color;
    }

    .trend-line {
        fill: $color_gps;
        stroke: #ddd;
        stroke-width: 2px;
    }

    .graduation-text {
        fill: #ccc;
        font-size: 36px;
        font-family: $font_family_normal;
        font-weight: bold;
        text-anchor: end;
    }
    .graduation-text-small {
        fill: #ccc;
        font-size: 30px;
        font-family: $font_family_normal;
        font-weight: bold;
        text-anchor: end;
    }

    .selected-altitude-background {
        fill: #000;
        stroke: #ddd;
        stroke-width: $stroke_width;
    }

    .selected-altitude {
        font-size: 45px;
        text-anchor: end;
        font-family: $font_family_normal;
        font-weight: bold;
    }

    .selected-altitude-small {
        font-size: 30px;
        text-anchor: end;
        font-family: $font_family_normal;
        font-weight: bold;
    }

    .selected-altitude {
        &[alert="BlueBackground"] {
            .selected-altitude-bug,
            .selected-altitude,
            .selected-altitude-small {
                fill: #000;
            }

            .selected-altitude-background {
                fill: $input_color;
            }
        }
        &[alert="YellowText"] {
            .selected-altitude-bug,
            .selected-altitude,
            .selected-altitude-small {
                fill: yellow;
            }
        }
        &[alert="BlueText"] {
            .selected-altitude-bug,
            .selected-altitude,
            .selected-altitude-small {
                fill: $input_color;
            }
        }
        &[alert="Empty"] {
            .selected-altitude-bug,
            .selected-altitude,
            .selected-altitude-small {
                fill: none;
            }
        }
    }

    .cursor-background {
        fill: #000;
    }

    .rotating-digit-thousands {
        font-size: 50px;
        font-family: $font_family_normal;
        font-weight: bold;
        fill: #fff;
    }

    .rotating-digit {
        font-size: 42px;
        font-family: $font_family_normal;
        fill: #fff;
        font-weight: bold;
    }

    .barometric-pressure {
        text {
            font-size: 32px;
            text-anchor: middle;
            font-family: $font_family_normal;
            font-weight: bold;
            fill: $input_color;
        }

        rect {
            fill: #000;
            stroke: #ddd;
            stroke-width: $stroke_width;
        }
    }

    .vspeed-indicator {
        text {
            font-size: 30px;
            font-family: $font_family_normal;
            font-weight: bold;
            fill: #fff;
        }

        path {
            fill: #000;
            stroke: #ddd;
            stroke-width: 2px;
        }
    }

    .selected-vspeed-background {
        fill: #000;
        stroke: #ddd;
        stroke-width: $stroke_width;
    }

    .selected-vspeed {
        font-size: 25px;
        font-family: $font_family_normal;
        font-weight: bold;
        fill: $input_color;
        text-anchor: middle;
    }
}
