g1000-nearest-airports-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "map sidebar";

    height: 100%;
    width: 100%;
    background: $page_background_color;

    .map-container {
        -webkit-transform: rotateX(0deg);
        height: 100%;
        width: 100%;
        grid-area: map;
        display: block;
        position: relative;
        border-right: $border_width_thin solid #fff;
    }

    .sidebar {
        grid-area: sidebar;
        height: 100%;
        padding: 1.5vh 2vh;
        display: grid;
        grid-gap: 1.5vh;
        grid-template-rows: minmax(0, 1fr) 12% 15% 18% 18%;
        background: $page_background_color;

        .category {
            margin: 0;
        }
    }

    .airport-list {
        color: $input_color;
        font-weight: bold;
        -webkit-transform: rotateX(0deg);

        li {
            width: 100%;
            display: grid;
            grid-gap: 2vh;
            grid-template-columns: 17% 2.5ch 20% 1fr;
            align-items: center;
            margin:0;

            .small {
                font-size: 0.7em;
            }

            .distance {
                text-align: right;
            }

            .ident {
                font-family: $font_family_mono;

                &[state="Selected"] {
                    animation: SelectionBlink 0.5s infinite !important;
                }
            }

            airport-icon {
                width: 2.5ch;
                height: 2.5ch;
            }
        }
    }

    .frequency-list .value {
        @extend %animated-selection;
    }

    .approach-list li {
        @extend %animated-selection;
    }
}
