g1000-mfd-direct-to {
    display: block;
    padding: 0 1.5vh;

    .waypoint-info {
        color: $input_color;
    }

    .location {
        display: grid;
        grid-template-columns: auto 1fr auto 1fr;
        grid-gap: 2vh;
        align-items: center;

        numeric-input {
            text-align: right;
        }
    }

    .vnav {
        display: grid;
        grid-template-columns: 50% 50%;

        numeric-input:last-child {
            text-align: right;
        }
    }

    .bearing,
    .distance,
    .city,
    .country {
        color: $input_color;
    }

    .bearing,
    .distance {
        font-family: $font_family_mono;
        text-align: right;
    }

    .city,
    .country {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .units {
        font-size: 0.8em;
    }

    footer {
        margin: 1.5vh 0;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: start;
        grid-gap: 2vh;

        .category {
            margin: 0;
        }

        .buttons {
            text-align: left;

            selectable-button {
                padding: 1vh;
                border: $border_width_thick outset $border_color;
                margin-bottom: 1vh;
                color: #fff;
                display: inline-block;
            }
        }
    }

    .waypoint-map {
        display: block;
        position: relative;
        width: 100%;
        height: 25vh;

        bing-map {
            width: 100%;
            height: 100%;
        }
    }
}
