g1000-trip-planning {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "input-data input-data input-data"
        "trip-stats fuel-stats other-stats";
    grid-gap: 1vh 3vh;
    padding: 1vh 3vh;

    .flight-plan-selector,
    .leg-selector {
        font-size: 1.1em;
    }

    .waypoints {
        .selectable {
            @extend %animated-selection;
        }

        display: grid;
        grid-gap: 0 1vh;
        align-items: center;
        grid-template-columns: auto 1fr auto 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "flight-plan-label flight-plan-selector leg-label leg-selector"
            "from from to to";

        .from-waypoint,
        .to-waypoint {
            color: $input_color;
            font-family: $font_family_mono;
            font-size: 1.1em;
        }

        .from-waypoint {
            grid-area: from;
        }

        .to-waypoint {
            grid-area: to;
        }

        border-bottom: $border_width_thin solid $border_color;
        padding-bottom: 2vh;
        margin-bottom: 2vh;
    }

    .input-data {
        grid-area: input-data;
        margin-bottom: 0;

        > .content {
            display: grid;
            height: 100%;
            grid-gap: 2vh;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto 1fr;
            grid-template-areas:
                "map header header"
                "map left right";

            > .map-container {
                grid-area: map;
                border: $border_width_thick solid $border_color;

                display: block;
                position: relative;
                width: 100%;

                bing-map {
                    width: 100%;
                    height: 100%;
                }
            }

            > .page-mode {
                grid-area: header;
                border-bottom: $border_width_thin solid $border_color;
                padding-bottom: 1.5vh;
                text-align: center;
                line-height: 1.0em;

                .mode {
                    color: $input_color;
                    font-size: 1.1em;
                }
            }

            > .left {
                grid-area: left;
                border-right: $border_width_thin solid $border_color;
                padding-right: 2vh;
            }

            > .right {
                grid-area: right;
            }
        }
    }

    .trip-stats {
        grid-area: trip-stats;
    }

    .fuel-stats {
        grid-area: fuel-stats;
    }

    .other-stats {
        grid-area: other-stats;
    }

    .units {
        font-size: 0.8em;
    }
}
