g1000-utility {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vh;
    padding: 0 2vh;

    .units {
        font-size: 0.8em;
    }

    .flight-timer {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;

        .value {
            text-align: right;
        }
    }
}
