<script type="text/html" id="MapView">
</script>

<script type="text/html" import-script="/Pages/VCockpit/Instruments/Shared/WorkingTitle/OptionsManager.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/Shared/WorkingTitle/NumberUnit.js"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/Shared/WorkingTitle/GVector2.js"></script>

<script type="text/html" import-script="/WorkingTitle/Pages/VCockpit/Instruments/Shared/Map/View/d3-array.js"></script>
<script type="text/html" import-script="/WorkingTitle/Pages/VCockpit/Instruments/Shared/Map/View/d3-geo.js"></script>

<script type="text/html" import-script="/WorkingTitle/Pages/VCockpit/Instruments/Shared/Map/View/MapProjection.js"></script>

<script type="text/html" import-script="/WorkingTitle/Pages/VCockpit/Instruments/Shared/Map/View/MapView.js"></script>