<script type="text/html" id="MapView">
</script>

<script type="text/html" import-script="/Pages/VCockpit/Instruments/Shared/WorkingTitle/OptionsManager.js?foo9=bar"></script>
<script type="text/html" import-script="/Pages/VCockpit/Instruments/Shared/WorkingTitle/NumberUnit.js"></script>

<script type="text/html" import-script="/WorkingTitle/Pages/VCockpit/Instruments/Shared/Map/View/d3-array.js"></script>
<script type="text/html" import-script="/WorkingTitle/Pages/VCockpit/Instruments/Shared/Map/View/d3-geo.js"></script>

<script type="text/html" import-script="/WorkingTitle/Pages/VCockpit/Instruments/Shared/Map/View/MapProjection.js?foo65=bar"></script>

<script type="text/html" import-script="/WorkingTitle/Pages/VCockpit/Instruments/Shared/Map/View/MapView.js?foo50=bar"></script>