drop-down-selector {
    position: relative;
    display: block;

    .popup {
        display: none !important;
        z-index: 1000;
        position: absolute;
        left: 0;
        top: 100%;
        background: $popup_background_color;
        border: 1vh outset rgba(#111, 0.8);
        outline: $border_width_thin solid #fff;
        z-index: 1000;
        max-height: 20vh;
        overflow-y: scroll;

        drop-down-selector-option {
            color: $input_color;
            display: block;
            padding: 0 1vh;
            white-space: nowrap;

            &[state="Selected"] {
                animation: SelectionBlink 0.5s infinite !important;
            }

            &[disabled] {
                color: #666;
            }
        }
    }

    .value {
        color: $input_color;
    }

    &[ACTIVE] {
        .popup {
            display: block !important;
        }
    }

    &[state="Selected"] {
        .value {
            animation: SelectionBlink 0.5s infinite !important;
        }
    }
}
