time-input {
    display: block;
    color: $input_color;

    &[disabled] {
        color: #fff;
    }

    &[state="Selected"] {
        animation: SelectionBlink 0.5s infinite !important;
    }

    .digit {
        &[state="Selected"] {
            animation: SelectionBlink 0.5s infinite !important;
        }
    }
}
